@import "tailwindcss";

@theme {
    --color-accent-lighter: var(--color-blue-200);
    --color-accent-light: var(--color-blue-300);
    --color-accent: var(--color-blue-400);
    --color-accent-dark: var(--color-blue-500);
    --color-accent-darker: var(--color-blue-600);
}

@layer base {
    a:not(nav a) {
        @apply text-accent-dark;
    }
    code {
        @apply font-mono;
    }
}
