---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <main>
        ’Sup, I’m
        <h1 class="text-7xl font-bold mb-4">Yancheng.</h1>
        <p>
            I'm a teenager living in the Boston area, and I love programming and
            writing.
        </p>
        <br />
        Check out some of my links below:
        <br />
        <ul class="text-blue-500">
            <li><a href="https://github.com/ItsMeNoobieboy">GitHub</a></li>
            <li><a href="https://itsmenoobieboy.itch.io/">Itch.io</a></li>
            <li><a href="https://devpost.com/yzhao">Devpost</a></li>
        </ul>
    </main>
</Layout>

<style>
</style>
