---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Home">
    <main>
        Sup, I'm
        <h1 class="text-7xl font-bold mb-4">Yancheng.</h1>
        This page is work in progress, as always
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        font-size: 20px;
        line-height: 1.6;
    }
</style>
