---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
    <main>
        <h1 class="text-6xl font-bold mb-4">My Projects</h1>
        A collection of things I have made over the years. Some I'm proud of, others maybe not so much...
        <br />
        Coming soon™
    </main>
</Layout>

<style>
</style>
