---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
    <main>
        <h1 class="text-6xl font-bold mb-4">My Projects</h1>
        A collection of things I have made over the years. Some I'm proud of, others
        maybe not so much...
        <br />
        Coming soon™
        <br />
        <br />
        <p>
            In the meanwhile, check out some of the terrible things I made
            recently at <a href="https://hacknight.co/" target="_blank"
                >HacKnight</a
            >:
            <ul>
                <li>
                    <a
                        href="https://skibidi.yanchengzhao.online"
                        target="_blank">Gyod's Story</a
                    >, a pure brainrot short story made for the boba website
                    workshop.
                </li>
                <li>
                    <a href="https://wizard.yanchengzhao.online" target="_blank"
                        >The Mosquito</a
                    >, an AI text adventure game made for the hack-scoop
                    (project wizard orpheus) workshop.
                </li>
            </ul>
        </p>
    </main>
</Layout>

<style></style>
