---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Writing">
    <main>
        <h1 class="text-6xl font-bold mb-4">My Writing</h1>
        In addition to programming and making tech products, I also love writing.
        <br />
        WIP™
        <p>In the meanwhile, check out some of the things I've written:</p>
        <ul class="text-blue-500">
            <li>
                <a href="https://vanguard.bbns.org/staff_name/yancheng-zhao/"
                    >The Vanguard - School Newspaper</a
                >
            </li>
            <li>
                <a href="https://bbnchasm.com/author/yzhao/"
                    >The CHASM - School STEM Magazine</a
                >
            </li>
            <li>
                <a
                    href="https://www.bbns.org/news/on-and-off-campus-blog-theres-a-lot-to-love-about-sophomore-year/"
                    >Latest School Blog</a
                >
            </li>
        </ul>
    </main>
</Layout>

<style></style>
