---
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";
---

<Layout title="Writing">
    <main>
        <h1 class="text-6xl font-bold mb-4">The Vanguard</h1>
        <p>
            I am the current features editor of <em>The Vanguard</em>, the
            official student newspaper of BB&N. Click <a
                href="https://vanguard.bbns.org/staff_name/yancheng-zhao/"
                target="_blank">here</a
            > for my profile.
        </p>
        <br />
        <h2 class="text-3xl font-bold">My articles:</h2>
        <br />
        <ul class="text-blue-500 grid gap-4">
            <Link
                title="Shifting gears for the Pan-Mass Challenge"
                body="Students and alumni train for, complete bike-a-thon together"
                href="https://vanguard.bbns.org/3729/off-campus/shifting-gears-for-the-pan-mass-challenge/"
                target="_blank"
            />
            <Link
                title="Science Department introduces new AP policy"
                body="Fewer sophomores to be enrolled in AP sciences next year"
                href="https://vanguard.bbns.org/3661/on-campus/science-department-introduces-new-ap-policy/"
                target="_blank"
            />
            <Link
                title="Allez! En Garde! Boys’ Varsity Fencing Team wins States"
                body="Program emerges victorious at State Championships"
                href="https://vanguard.bbns.org/3496/sports/allez-en-garde-boys-varsity-fencing-team-wins-states/"
                target="_blank"
            />
            <Link
                title="Cambridge City Council green lights demolition of Lower School buildings"
                body="Cambridge Historic Commission will not put an end to school’s plans"
                href=""
                target="_blank"
            />
            <Link
                title="United at last: Will Benjamin ’25 meets pen pal of nine years in Malawi"
                body="During his trip, Will constructs a sundial for children at Malawian school"
                href="https://vanguard.bbns.org/3295/off-campus/united-at-last-will-benjamin-25-meets-pen-pal-of-nine-years-in-malawi/"
                target="_blank"
            />
            <Link
                title="Keenan’s exhibit showcases unpredictable effects of expired film"
                body=""
                href="https://vanguard.bbns.org/3071/arts/keenans-exhibit-showcases-unpredictable-effects-of-expired-film/"
                target="_blank"
            />
        </ul>
    </main>
</Layout>

<style></style>
